
*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/*index */
.principal{
    background:rgb(227, 195, 231)
}

.Title{
    text-align: center;
}

.imagen{
    text-align: center;
}
.navegacion{
    font-size: 1.3rem;
}
.navegacion:hover{
    background-color:rgb(240, 130, 185);
    text-align: center;
    font-size: 1.5rem;
    width: 15rem;
    height: 6rem;
    cursor: pointer;
}

/*makeup */
.principal-2{
    background:rgb(240, 193, 220);
}


.Title2{
    background: rgb(212, 226, 173);
    font-family: 'Corinthia', cursive;
    text-align: center;
    
}
.Formato{
    font-family: 'Smooch', cursive;
    margin-top: 4rem;
    margin-block-end: 3rem;
    margin-right: 10rem;
    margin-left: 10rem;
    justify-content: space-between;
    display:flex;
    flex-flow:nowrap;
}
   
.botonactualizar{
    background: rgb(172, 123, 182);
    color: white;
}
.botoneliminar{
    background:rgb(212, 124, 124);
    color: white;
}

.foot{
    background-color: rgb(212, 226, 173);
    margin-top: 3rem;
}

